$theme-primary-dark:#B23900;
$theme-primary: #FF5200;
$theme-secondary-light: #FEF6E8;
$theme-secondary: #FEE2B3;
$theme-secondary-dark: #cbb48f;
$theme-secondary-bg: rgba(245, 201, 126, 0.9);
$text-color-active: #fff;
$text-color-inactive: rgba($text-color-active, .5);
$text-color-dark: #000;
$text-color-dark-inactive: rgba(#000, .5);
$footer-bg: #645f56;
$footer-inactive: rgba(255,255,255,.5);
$dark-red: #DC3545;

$inner-max-width: 120rem;

