$theme-primary-dark:#B23900;
$theme-primary: #FF5200;
$theme-secondary: #FEE2B3;
$text-color-active: #fff;
$text-color-inactive: rgba($text-color-active, .5);
$text-color-dark: #000;
$text-color-dark-inactive: rgba(#000, .5);

