@import '../abstract/variables';
@import '../components/section_title';
@import '../abstract/mixin';

.map {
  background: $theme-secondary;
  &__inner {
    max-width: $inner-max-width;
    margin: 0 auto;
    &__desc {
      @extend %section_title;
      padding: 2rem .5rem;
      &__content {
        p {
          font-size: 1.4rem;
        }
      }
    }

    &__map {
      padding: 1rem 1rem;
      &__content {
        height: 40rem;
        width: 100%;
      }
    }
  }

  @include respond(tab_screen) {
    &__inner {
      display: flex;
      align-items: center;
      &__map {
        width: 46%;
      }
    }
  }


}