@import '../abstract/mixin';
@import '../abstract/varibles';
@import '../base/typography';


.cafe__header {
  @include show_div;
  // @include flex-wrapper;
  height: 5.5rem;
  font-size: 1.6rem;
  margin: 0 auto;
  &__logo {
    font-size: 2rem;
    @extend %font-logo;
    span {
      color: $theme-primary;
    }
  }
  @include respond(medium_screen) {
    height: 7rem;
    max-width: 120rem;
  }
}
