@import '../abstract/varibles';
@import './typography';
@import '../abstract/mixin';

/*-- Prevent Horizontal Scrolling & Font Style --*/
html, body {
  @extend %font-body;
  overflow-x: hidden;
  /* Use percentage to reset 1rem = 10px */
  font-size: 62.5%; // 1rem = 10px

  // @include respond(medium_screen) {
  //   font-size: 56.25%; // 1rem = 9px

  // }

  // @include respond(large_screen) {
  //   font-size: 50%; // 1rem = 8px
  //   background-color: pink;
  // }
}

h1,h2,h3,h4,h5 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;

  &:hover, &:focus {
    color: inherit;

  }
}

ul {
  list-style-type: none;
  margin: 0;
  li {
    float: left;
  }
}
